.welcome {
  height: 100vh;
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-position: center;

  .container {
    padding: 0 70px;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .welcomeImage {
    width: 1100px;
    height: 650px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 45px;

    max-width: 690px;
    width: 100%;

    .row {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 42px;
    }

    img {
      mix-blend-mode: darken;
    }

    p {
      font-size: 28px;
    }
  }
}
