@import '../../../styles/variables';

.suitables {
  background: #ebedf1;

  .container {
    padding: 60px 40px 95px;

    .layout {
      margin: 60px 0;

      display: grid;
      gap: 53px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);

      width: 100%;

      .box {
        background: #ffffff;

        width: 100%;
        height: 100%;

        padding: 70px 85px;

        display: flex;
        flex-direction: column;

        img {
          max-width: 100%;
          width: 100%;
          max-height: 500px;
          height: 100%;
          object-fit: contain;
        }

        ul {
          margin: 8px 0;
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            align-items: center;
            gap: 8px;

            color: $blue;
            font-weight: 700;
            font-size: 20px;
            line-height: 31px;

            &::before {
              content: '';
              display: block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: $blue;
            }
          }
        }

        h3 {
          color: $dark;

          margin-bottom: 35px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 35px;

        .itemIcon {
          width: 184px;
          height: 184px;

          background: #ffffff;
          border-radius: 17px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .itemTitle {
          font-weight: 400;
          font-size: 22px;
          line-height: 141.19%;
          letter-spacing: 0.045em;
          color: #000000;
        }
      }
    }
  }
}
