.security {
  .container {
    padding: 75px 40px 60px;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;

      margin-top: 60px;

      .imageBlock {
        img {
          width: 640px;
          height: 480px;
          object-fit: contain;
        }

        h4 {
          font-weight: 400;
          font-size: 36px;
          line-height: 42px;
          text-align: center;
          letter-spacing: 0.045em;
        }
      }

      .reasons {
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 870px;
        width: 100%;

        li {
          display: flex;
          align-items: center;
          gap: 25px;

          img {
            width: 58px;
            height: 58px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
