.possibilities {
  height: 545px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    position: relative;
    top: -170px;

    width: 100%;
    padding: 0 20px;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 7px;

    padding: 30px;

    .possibility {
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      flex-direction: column;

      .body {
        background: #ffffff;
        border-radius: 7px;
        padding: 60px 25px 40px 55px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 9px;

        li {
          display: flex;
          align-items: center;
          gap: 13px;

          font-weight: 400;
          font-size: 18px;
          line-height: 21px;

          &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: #5eb3f0;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
