@import '../../styles/variables';

.button {
  height: 43px;
  padding: 0 42px;

  border-radius: 30px;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0.14em;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 22px;
  line-height: 141.19%;

  transition: 0.5s ease;
}

.one {
  background-color: $blue;

  color: #ffffff;

  &:hover {
    background-color: $dark;
  }
}

.two {
  background-color: $dark;

  color: #ffffff;

  &:hover {
    background-color: $blue;
  }
}
