@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color;
}

h2 {
  font-weight: 600;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 0.045em;
}

h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.045em;
}

h4 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:not(:visited) {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

p {
  font-size: 20px;
  line-height: 150%;
}

ul {
  list-style: none;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.span {
  color: $blue;
}

.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flex-title {
  gap: 20px;
  display: flex;
  align-items: center;
}

.section-span {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.045em;
  color: #7a758d;
}
