@import './variables';

.header {
  padding: 27px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.8);

  .logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $blue;
  }

  .nav {
    font-size: 20px;
    line-height: 23px;

    display: flex;
    align-items: center;
    gap: 140px;

    ul {
      display: flex;
      align-items: center;
      gap: 35px;

      li {
        display: flex;
        align-items: center;
        gap: 10px;

        &.dropdown::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $blue;
        }
      }
    }
  }
}
